{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动介绍</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #e5e4e4">
<div class="container">
    <h2>{{ activity_name }}</h2>
        {{ content|safe }}
</div>
<div class="container">
    <a href="{% url 'ActivitySignUp:activity_form' %}?activity_id={{ activity_id }}&job_num={{ job_num }}&town={{ town }}&village={{ village }}&group={{ group }}">
        <button class="btn btn-success form-control">报名参与</button>
    </a>
</div>
</body>
</html>