{% extends 'AdminZero/base.html' %}

{% block title %}商户请求{% endblock %}
{% block page_title %}商户请求{% endblock %}
{% block merchandise_request_active %}active{% endblock %}

{% block main_content %}
<div class="container-fluid">
  {% if success_message %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>成功</strong> {{ success_message }}
    </div>
  {% elif error_message %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <strong>失败</strong> {{ error_message }}
    </div>
  {% endif %}

  {# 分配任务表格 #}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-toolbar clearfix">
          <h4>任务分配</h4>
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'AdminZero:merchandise_request' %}" class="site-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_request_action">任务</label>
              <select class="form-control" id="id_request_action" name="request_action" required>
                <option value="">---请选择一个任务---</option>
                {% for request_action in request_actions %}
                <option value="{{ request_action.id }}">{{ request_action.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label>起止日期</label>
              <div class="input-daterange input-group js-datepicker" data-auto-close="false" data-date-format="yyyy-mm-dd">
                <input class="form-control" type="text" id="id_start_date" name="start_date" placeholder="从" required>
                <span class="input-group-addon"><i class="mdi mdi-chevron-right"></i></span>
                <input class="form-control" type="text" id="id_end_date" name="end_date" placeholder="至" required>
              </div>
            </div>
            <div class="form-group">
              <label for="id_request_action">目标商户</label>
              <select class="form-control" id="id_target_merchandise" name="target_merchandise" multiple size="5" required>
                {% for merchandise in merchandises %}
                <option value="{{ merchandise.id }}">{{ merchandise.name }}-{{ merchandise.phone }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">发放任务</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {# 请求记录表格 #}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-toolbar clearfix">
          <h4>请求记录-待处理</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>请求记录ID</th>
                  <th>请求人</th>
                  <th>请求时间</th>
                  <th>起止日期</th>
                  <th>请求动作</th>
                </tr>
              </thead>
              <tbody>
                {% for pending_request_action_log in pending_request_action_logs %}
                <tr>
                  <td>{{ pending_request_action_log.id }}</td>  {# 请求记录ID #}
                  <td>{{ pending_request_action_log.customer.name }} {{ pending_request_action_log.customer.phone }}</td>  {# 请求人 #}
                  <td>{{ pending_request_action_log.create_time }}</td>  {# 请求时间 #}
                  <td>{{ pending_request_action_log.start_date|default_if_none:'' }} - {{ pending_request_action_log.end_date|default_if_none:'' }}</td>  {# 起止日期 #}
                  <td>{{ pending_request_action_log.name }}</td>  {# 请求动作 #}

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# 请求动作管理表格 #}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-toolbar clearfix">
          <h4>请求记录-已完成</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>请求记录ID</th>
                  <th>请求人</th>
                  <th>请求时间</th>
                  <th>起止日期</th>
                  <th>请求动作</th>
                  <th>完成时间</th>
                </tr>
              </thead>
              <tbody>
                {% for finished_request_action_log in finished_request_action_logs %}
                <tr>
                  <td>{{ finished_request_action_log.id }}</td>  {# 请求记录ID #}
                  <td>{{ finished_request_action_log.customer.name }} {{ finished_request_action_log.customer.phone }}</td>  {# 请求人 #}
                  <td>{{ finished_request_action_log.create_time }}</td>  {# 请求时间 #}
                  <td>{{ finished_request_action_log.start_date|default_if_none:'' }} - {{ finished_request_action_log.end_date|default_if_none:'' }}</td>  {# 起止日期 #}
                  <td>{{ finished_request_action_log.name }}</td>  {# 请求动作 #}
                  <td>{{ finished_request_action_log.finished_time }}</td>  {# 完成时间 #}

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block js_content %}
<script>
{# 给确认完成模态框赋值 #}
function give_confirm_finished_modal(request_action_log_id) {
    $('#id_request_action_log_id').val(request_action_log_id);
}
</script>
{% endblock %}

