{% extends 'AdminFirst/base.html' %}
{% load static %}

{% block title %}客户通知模板管理{% endblock %}
{% block page_title %}客户通知模板管理{% endblock %}
{% block notice_template_management_active %}active{% endblock %}

{% block main_content %}
<div class="container-fluid">
    {% if success_message %}
      <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>成功</strong> {{ success_message }}
      </div>
    {% elif error_message %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>失败</strong> {{ error_message }}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-toolbar clearfix">
            <form class="pull-right search-bar" method="get" action="{% url 'AdminFirst:notice_template_management' %}" role="form">
              <div class="input-group">
                <input type="text" class="form-control" name="filter_keyword" value="{{ filter_keyword }}" placeholder="模糊搜索">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">搜索</button>
                </span>
              </div>

            </form>
            <div class="toolbar-btn-action">
                <a data-toggle="modal" data-target="#add" class="btn btn-primary m-r-5"><i class="mdi mdi-plus"></i> 新增</a>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>标题</th>
                    <th>创建时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {% for notice_template in notice_templates %}
                  <tr>
                    <td>{{ notice_template.title }}</td>
                    <td>{{ notice_template.create_time }}</td>
                    <td nowrap="norap">
                      <div class="btn-group-justified">
                        <a data-toggle="modal" data-target="#change" class="btn btn-xs btn-default" title="修改"
                        onclick="give_change_modal(
                                '{{ notice_template.id }}',
                        )">
                            <i class="mdi mdi-pencil"></i>
                        </a>
                        <a data-toggle="modal" data-target="#del" class="btn btn-xs btn-default" title="删除"
                        onclick="give_del_modal('{{ notice_template.id }}')">
                            <i class="mdi mdi-window-close"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block modal_content %}
<!-- 新增通知模板 -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'AdminFirst:notice_template_management' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="action" value="add" hidden>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">新增通知模板</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_title" class="control-label">标题：</label>
                        <input class="form-control m-b-10" type="text" id="id_title" name="title"  required>
                    </div>
                    <div class="form-group">
                        <label for="id_content" class="control-label">内容：</label>
                        <textarea id="id_content" name="content" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">新增</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 修改通知模板 -->
<div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'AdminFirst:notice_template_management' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="action" value="change" hidden>
                <input id="id_change_id" name="change_id" hidden>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">修改通知模板</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_change_title" class="control-label">标题：</label>
                        <input class="form-control m-b-10" type="text" id="id_change_title" name="change_title" required>
                    </div>
                    <div class="form-group">
                        <label for="id_change_content" class="control-label">内容：</label>
                        <textarea id="id_change_content" name="change_content" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-info">修改</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 通知模板删除 -->
<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'AdminFirst:notice_template_management' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="del_id" id="id_del_id" hidden>
                <input name="action" value="del" hidden>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">删除通知模板</h4>
                </div>
                <div class="modal-body">
                    <p style="color: red">这将删除此通知模板，确定吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-danger">删除</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js_content %}
<!-- 给修改通知模板模态框传值 -->
<!-- 由于页面传参不支持换行，所以这里通过ajax获取 -->
<script type="text/javascript">
    function give_change_modal(change_id) {
        $('#id_change_id').val(change_id);
        $.ajax({
            type: "get",
            url: "{% url 'Notice:get_notice_template' %}",
            traditional: true,
            data: {'notice_template_id': change_id},
            success: function (arg) {
                $('#id_change_title').val(arg.title);
                $('#id_change_content').val(arg.content);
            }
        });
    }
</script>

<!-- 给删除通知模板模态框传值 -->
<script type="text/javascript">
    function give_del_modal(del_id) {
        $('#id_del_id').val(del_id);
    }
</script>

{% endblock %}
