{% extends 'AdminSecond/base.html' %}
{% load static %}

{% block title %}客户信息-{{ town }}-{{ village }}-{{ group }}{% endblock %}
{% block page_title %}客户信息-{{ town }}-{{ village }}-{{ group }}{% endblock %}
{% block customer_information_active %}active{% endblock %}

{% block main_content %}
<div class="container-fluid">
    {% if success_message %}
      <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>成功</strong> {{ success_message }}
      </div>
    {% elif error_message %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <strong>失败</strong> {{ error_message }}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-toolbar clearfix">
            <form class="pull-right search-bar" method="get" action="{% url 'AdminSecond:customer_information' %}" role="form">
              <div class="input-group">
                {# 原搜索框 #}
              </div>

            </form>
            <div class="toolbar-btn-action">
              <!-- 按钮区 -->
              <a data-toggle="modal" data-target="#export_activity_record_customer_info" class="btn btn-primary m-r-5"><i class="mdi mdi-cloud-download"></i> 导出发放记录</a>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="id_customer_table" data-advanced-sortable="true" data-pagination="false" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th data-field="name" data-sortable="true" data-search-type="text">姓名</th>
                    <th data-field="tag" data-sortable="true" data-search-type="text">标签</th>
                    <th data-field="gender" data-sortable="true" data-search-type="radio" data-search-select=["男","女"]>性别</th>
                    <th data-field="phone" data-sortable="true" data-search-type="text">手机号</th>
                    <th data-field="address" data-sortable="true" data-search-type="text">地址</th>
                    <th data-field="is_merchant" data-sortable="true" data-search-type="radio" data-search-select=["是","否"]>是否商户</th>
                    <th data-field="activity" data-sortable="true" data-search-type="text">参与活动</th>
                    <th data-field="admin_third" data-sortable="true" data-search-type="text">客户经理</th>
                    <th data-field="create_time" data-sortable="true" data-search-type="date">报名时间</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  {% for activity_record in activity_records %}
                  <tr>
                    <td>{{ activity_record.customer.name }}</td>
                    <td>
                        {% if activity_record.customer.is_vip %}
                        <span class="label label-danger">会员</span>
                        {% else %}
                        <span class="label label-secondary">非会员</span>
                        {% endif %}
                        <span class="label label-{{ activity_record.customer.tag_type }}">
                            {{ activity_record.customer.tag }}
                        </span>
                    </td>
                    <td>{{ activity_record.customer.gender }}</td>
                    <td>{{ activity_record.customer.phone }}</td>
                    <td><small>{{ activity_record.customer.town }}-{{ activity_record.customer.village }}-{{ activity_record.customer.group }}-{{ activity_record.customer.street }}</small></td>
                    <td>{% if activity_record.customer.is_merchant %}是{% else %}否{% endif %}</td>
                    <td>{{ activity_record.activity.name }}</td>
                    <td>{{ activity_record.admin_third.name }}</td>
                    <td>{{ activity_record.create_time|date:'Y-m-d H:i:s' }}</td>
                    <td nowrap="norap">
                      <div class="btn-group-justified">
                        <a data-toggle="modal" data-target="#change_tag" class="btn btn-xs btn-default" title="修改标签"
                        onclick="give_change_tag_modal(
                            '{{ activity_record.customer.id }}',
                                '{{ activity_record.customer.tag }}',
                                '{{ activity_record.customer.tag_type }}'
                        )">
                            <i class="mdi mdi-tag"></i>
                        </a>
                        <a data-toggle="modal" data-target="#comment" class="btn btn-xs btn-default" title="备注"
                        onclick="give_comment_modal('{{ activity_record.customer.id }}')">
                            <i class="mdi mdi-comment-text"></i>
                        </a>
                        <a data-toggle="modal" data-target="#merchant_comment" class="btn btn-xs btn-default" title="商户备注"
                        onclick="give_merchant_comment_modal(
                            '{{ activity_record.customer.id }}',
                            '{{ activity_record.customer.is_merchant|default_if_none:'' }}',
                            '{{ activity_record.customer.is_installed_micro_post_pay|default_if_none:'' }}',
                            '{{ activity_record.customer.is_catering_merchant|default_if_none:'' }}',
                            '{{ activity_record.customer.salt_delivery|default_if_none:'' }}',
                        )">
                            <i class="mdi mdi-store"></i>
                        </a>
                        <a data-toggle="modal" data-target="#change_admin_third" class="btn btn-xs btn-default" title="更改客户经理"
                        onclick="give_change_admin_third_modal('{{ activity_record.id }}', '{{ activity_record.admin_third_id }}')">
                            <i class="mdi mdi-account-convert"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block modal_content %}
<!-- 修改客户标签 -->
<div class="modal fade" id="change_tag" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'AdminSecond:customer_information' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="action" value="change_tag" hidden>
                <input id="id_change_id" name="change_id" hidden>
                <input name="town" value="{{ town }}" hidden>
                <input name="village" value="{{ village }}" hidden>
                <input name="group" value="{{ group }}" hidden>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">修改客户标签</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_change_tag" class="control-label">客户标签：</label>
                        <input class="form-control m-b-10" type="text" id="id_change_tag"
                               name="change_tag"  required>
                        <label for="id_change_tag_type" class="control-label">标签类型：</label>
                        <select class="form-control" id="id_change_tag_type" name="change_tag_type">
                            <option value="secondary">灰</option>
                            <option value="dark">黑</option>
                            <option value="success">绿</option>
                            <option value="info">蓝</option>
                            <option value="danger">红</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-info">修改</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 查看/修改备注 -->
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'AdminSecond:customer_information' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="action" value="change_comment" hidden>
                <input name="comment_customer_id" id="id_comment_customer_id" hidden>
                <input name="town" value="{{ town }}" hidden>
                <input name="village" value="{{ village }}" hidden>
                <input name="group" value="{{ group }}" hidden>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">备注</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_customer_comment" class="control-label">备注内容：</label>
                        <textarea id="id_customer_comment" name="customer_comment" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-info">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 商户备注 -->
<div class="modal fade" id="merchant_comment" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'AdminSecond:customer_information' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="action" value="merchant_comment" hidden>
                <input name="merchant_comment_customer_id" id="id_merchant_comment_customer_id" hidden>
                <input name="town" value="{{ town }}" hidden>
                <input name="village" value="{{ village }}" hidden>
                <input name="group" value="{{ group }}" hidden>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">商户备注</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_is_merchant" class="control-label">是否为商户：</label>
                        <select class="form-control" id="id_is_merchant" name="is_merchant" required>
                          <option value="">---选择是否为商户---</option>
                          <option value="1">是</option>
                          <option value="0">否</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_is_installed_micro_post_pay" class="control-label">是否安装微邮付：</label>
                        <select class="form-control" id="id_is_installed_micro_post_pay" name="is_installed_micro_post_pay">
                          <option value="">---选择是否安装微邮付---</option>
                          <option value="1">是</option>
                          <option value="0">否</option>
                        </select>
                    </div><div class="form-group">
                        <label for="id_is_catering_merchant" class="control-label">是否为餐饮商户：</label>
                        <select class="form-control" id="id_is_catering_merchant" name="is_catering_merchant">
                          <option value="">---选择是否为餐饮商户---</option>
                          <option value="1">是</option>
                          <option value="0">否</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_salt_delivery" class="control-label">食盐配送：</label>
                        <select class="form-control" id="id_salt_delivery" name="salt_delivery">
                          <option value="">---选择食盐配送时间段---</option>
                          <option value="1-5号">1-5号</option>
                          <option value="20-25号">20-25号</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-info">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 修改三级管理员 -->
<div class="modal fade" id="change_admin_third" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'AdminSecond:customer_information' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="action" value="change_admin_third" hidden>
                <input name="change_admin_third_activity_record_id" id="id_change_admin_third_activity_record_id" hidden>
                <input name="town" value="{{ town }}" hidden>
                <input name="village" value="{{ village }}" hidden>
                <input name="group" value="{{ group }}" hidden>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delModalLabel">更改客户经理</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_customer_comment" class="control-label">客户经理：</label>
                        <select class="form-control" name="change_admin_third" id="id_change_admin_third" required>
                          {% for admin_third in admin_thirds %}
                          <option value="{{ admin_third.id }}">{{ admin_third.name }}</option>
                          {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-info">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 导出活动记录和客户信息表模态框 -->
<div class="modal fade" id="export_activity_record_customer_info" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{% url 'AdminSecond:customer_information' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="action" value="export_activity_record_customer_info" hidden>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="delModalLabel">导出商品发放记录</h4>
        </div>
        <div class="modal-body">
          <p>将会下载记录着你管理的所有活动记录以及客户信息的Excel文件</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-info">导出下载</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js_content %}
<script>
{# 初始化数据表格 #}
$(function () {
    $('#id_customer_table').bootstrapTable();
})
</script>
<!-- 给修改标签模态框传值 -->
<script type="text/javascript">
    function give_change_tag_modal(
        change_id,
        change_tag,
        change_tag_type
    ) {
        $('#id_change_id').val(change_id);
        $('#id_change_tag').val(change_tag);
        $('#id_change_tag_type').val(change_tag_type);
    }
</script>

<!-- 给备注模态框传值 -->
<script type="text/javascript">
    function give_comment_modal(comment_customer_id) {
        // 给记录客户id的input传值
        $('#id_comment_customer_id').val(comment_customer_id);
        $.getJSON('{% url 'Customer:get_customer_comment' %}', {customer_id: comment_customer_id}, function (json, TextStatus) {
            // 渲染到textarea框中
            $('#id_customer_comment').html(json['comment']);
        });
    }
</script>

<!-- 给修改三级管理员模态框传值 -->
<script type="text/javascript">
    function give_change_admin_third_modal(activity_record_id, admin_third_id) {
        // 给记录客户id的input传值
        $('#id_change_admin_third_activity_record_id').val(activity_record_id);
        $('#id_change_admin_third').val(admin_third_id);
    }
</script>
<!-- 给商户备注模态框传值 -->
<script type="text/javascript">
{# 禁用是否安装微邮付 #}
function disable_is_installed_micro_post_pay() {
    $('#id_is_installed_micro_post_pay').prop('disabled', true).prop('required', false).val('');
}
{# 启用是否安装微邮付 #}
function enable_is_installed_micro_post_pay() {
    $('#id_is_installed_micro_post_pay').prop('disabled', false).prop('required', true);
}
{# 禁用是否为餐饮商户 #}
function disable_is_catering_merchant() {
    $('#id_is_catering_merchant').prop('disabled', true).prop('required', false).val('');
}
{# 启用是否为餐饮商户 #}
function enable_is_catering_merchant() {
    $('#id_is_catering_merchant').prop('disabled', false).prop('required', true);
}
{# 禁用食盐配送 #}
function disable_salt_delivery() {
    $('#id_salt_delivery').prop('disabled', true).prop('required', false).val('');
}
{# 启用食盐配送 #}
function enable_salt_delivery() {
    $('#id_salt_delivery').prop('disabled', false).prop('required', true);
}

{# 给模态框传值，点击操作按钮触发 #}
function give_merchant_comment_modal(
    customer_id,
    is_merchant,
    is_installed_micro_post_pay,
    is_catering_merchant,
    salt_delivery,
) {
    // 定义布尔值映射关系
    let boolean_value_converter = {'True': '1', 'False': '0', '': ''};
    // 转换参数值
    is_merchant = boolean_value_converter[is_merchant];
    is_installed_micro_post_pay = boolean_value_converter[is_installed_micro_post_pay];
    is_catering_merchant = boolean_value_converter[is_catering_merchant];

    let is_merchant_attr = $('#id_is_merchant');
    let is_installed_micro_post_pay_attr = $('#id_is_installed_micro_post_pay');
    let is_is_catering_merchant_attr = $('#id_is_catering_merchant');
    let salt_delivery_attr = $('#id_salt_delivery');

    // 开始赋值
    $('#id_merchant_comment_customer_id').val(customer_id);
    is_merchant_attr.val(is_merchant);
    if (is_merchant_attr.val() === '1') {
        // 选择了是商户，启用是否安装微邮付和是否为餐饮商户并给它们赋值
        enable_is_installed_micro_post_pay();
        is_installed_micro_post_pay_attr.val(is_installed_micro_post_pay);
        enable_is_catering_merchant();
        is_is_catering_merchant_attr.val(is_catering_merchant);
        if (is_is_catering_merchant_attr.val() === '1') {
            // 选择了是餐饮商户，启用食盐配送并给它赋值
            enable_salt_delivery();
            salt_delivery_attr.val(salt_delivery);
        }
    } else {
        // 否则，禁用安装微邮付、是否为餐饮商户和食盐配送
        disable_is_installed_micro_post_pay();
        disable_is_catering_merchant();
        disable_salt_delivery();
    }
}
$(function () {
    {# 监听是否为商户的变化 #}
    $('#id_is_merchant').on('change', function () {
        if ($(this).val() === '1') {
            // 选择了是商户，启用是否安装微邮付
            enable_is_installed_micro_post_pay();
            // 启用是否为餐饮商户
            enable_is_catering_merchant();
        } else {
            // 否则，禁用是否安装微邮付
            disable_is_installed_micro_post_pay();
            // 禁用是否为餐饮商户
            disable_is_catering_merchant();
            // 禁用食盐配送
            disable_salt_delivery();
        }
    });
    {# 监听是否为餐饮商户变化 #}
    $('#id_is_catering_merchant').on('change', function () {
        if ($(this).val() === '1') {
            // 选择了是餐饮商户，启用食盐配送
            enable_salt_delivery();
        } else {
            // 否则，禁用食盐配送
            disable_salt_delivery();
        }
    });
});
</script>
{% endblock %}
